{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "elixir",
        ],
        "plugins": [
          "line-numbers"
        ],
        "theme": "default",
        "css": true
      }
    ]
  ]
}
